/* ESTILOS PARA MIS TITULOS */

.titles-primario {color: rgb(209, 22, 22);
    border:none;
    background-color: rgb(31, 97, 141);
    font-size: 30px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
     }

.titles-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(61, 64, 66);
    font-size: 20px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
     }

.titles-terciario {
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.info strong{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}}

/* ESTILOS PARA MI BODY */

.head-contenedor{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    background-color: rgb(31, 97, 141);
}

.head-contenedor .par-head strong{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: whitesmoke;
    background-color: rgb(31, 97, 141);
}


.main-form {background-color: rgb(214, 211, 211);
    display: block;
    justify-content: center;
    align-items: center;
    weight: 100px;;
    font-size: 15px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/*  HOME */

.main-home{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(214, 211, 211);
    border: none;
}

.br-main{color: rgb(214, 211, 211);
    background-color: rgb(214, 211, 211);
}

/* GALERIA */

.main-galery{
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template: repeat(auto-fill, minmax(250px,1fr));
    background-color: rgb(214, 211, 211);
}

.div-galery{ 
    display: grid;
    grid-template: repeat(auto-fill, minmax(250px,1fr))
    
}

.div-galery .box-galery{
    display: block;
    width: 100%;
    height: 100%;
}

.img-galery{ 
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.img-galery:hover{ 
    transform: scale(1.05);
}

/* SERVICIOS */

.main-price {display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(214, 211, 211);
   
}

.table-price{
    border: none;
    weight: 100px;;
    font-size: 15px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.image-main{height: 100px;}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    grid-gap: 20px;
    color: whitesmoke;
    background-color: rgb(31, 97, 141);
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
}

/* RESPONSIVE */

@media screen and (min-width:768px){
    .header nav main footer{
        grid-template-areas:
        "header header header"
        "nav main main"
        "footer footer footer";
        
        header{grid-area: "header"
                           }
                          
        nav{grid-area: "nav"
                           } 
        
        main{grid-area: "main"
                           }
                           
        footer {grid-area: "footer"
                           }
    }
    /* ESTILOS PARA MIS TITULOS */

.titles-primario {color: rgb(209, 22, 22);
    border:none;
    background-color: rgb(31, 97, 141);
    font-size: 60px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
     }

.titles-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(61, 64, 66);
    font-size: 40px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
     }

.titles-terciario {
    text-decoration: none;
    font-size: 20px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.info strong{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* ESTILOS PARA MI BODY */

.head-contenedor{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    background-color: rgb(31, 97, 141);
}

.head-contenedor .par-head strong{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: whitesmoke;
    background-color: rgb(31, 97, 141);
}


.main-form {background-color: rgb(214, 211, 211);
    display: block;
    justify-content: center;
    align-items: center;
    weight: 100px;;
    font-size: 40px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/*  HOME */

.main-home{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(214, 211, 211);
    border: none;
}

.br-main{color: rgb(214, 211, 211);
    background-color: rgb(214, 211, 211);
}

/* GALERIA */

.main-galery{
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template: repeat(auto-fill, minmax(250px,1fr));
    background-color: rgb(214, 211, 211);
}

.div-galery{ 
    display: grid;
    grid-template: repeat(auto-fill, minmax(250px,1fr))
    
}

.div-galery .box-galery{
    display: block;
    width: 100%;
    height: 100%;
}

.img-galery{ 
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.img-galery:hover{ 
    transform: scale(1.05);
}

/* SERVICIOS */

.main-price {display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(214, 211, 211);
   
}

.table-price{
    border: none;
    weight: 200px;;
    font-size: 30px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.image-main{height: 100px;}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    grid-gap: 20px;
    color: whitesmoke;
    background-color: rgb(31, 97, 141);
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
}
}


@media screen and (min-width:1023px){
    .header nav main footer{
        grid-template-areas:
        "header header header"
        "nav main main"
        "footer footer footer";
        
        header{grid-area: "header"
                           }
                          
        nav{grid-area: "nav"
                           } 
        
        main{grid-area: "main"
                           }
                           
        footer {grid-area: "footer"
                           }
    }
    /* ESTILOS PARA MIS TITULOS */

.titles-primario {color: rgb(209, 22, 22);
    border:none;
    background-color: rgb(31, 97, 141);
    font-size: 75px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
     }

.titles-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(61, 64, 66);
    font-size: 45px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
     }

.titles-terciario {
    text-decoration: none;
    font-size: 30px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.info strong{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* ESTILOS PARA MI BODY */

.head-contenedor{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    background-color: rgb(31, 97, 141);
}

.head-contenedor .par-head strong{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: whitesmoke;
    background-color: rgb(31, 97, 141);
}


.main-form {background-color: rgb(214, 211, 211);
    display: block;
    justify-content: center;
    align-items: center;
    weight: 100px;;
    font-size: 15px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/*  HOME */

.main-home{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(214, 211, 211);
    border: none;
}

.br-main{color: rgb(214, 211, 211);
    background-color: rgb(214, 211, 211);
}

/* GALERIA */

.main-galery{
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template: repeat(auto-fill, minmax(250px,1fr));
    background-color: rgb(214, 211, 211);
}

.div-galery{ 
    display: grid;
    grid-template: repeat(auto-fill, minmax(250px,1fr))
    
}

.div-galery .box-galery{
    display: block;
    width: 100%;
    height: 100%;
}

.img-galery{ 
    width: 600px;
    height: 300px;
    object-fit: cover;
}

.img-galery:hover{ 
    transform: scale(1.05);
}

/* SERVICIOS */

.main-price {display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(214, 211, 211);
   
}

.table-price{
    border: none;
    weight: 100px;;
    font-size: 15px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.image-main{height: 100px;}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    grid-gap: 20px;
    color: whitesmoke;
    background-color: rgb(31, 97, 141);
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
}
}
   
    


/* ESTILOS PARA MI SOCIAL BAR */
.div-social-bar{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Whatsapp: #4dc247;
    --facebook: #3b5999;
    --instagram: #C13584;
    --twitter: #55acee;
}

.div-social-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.div-social-bar ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 40px;
    text-align:center;
}

.div-social-bar ul li a{
    display: block;
    padding: 0 10px;
    background: gray;
    color: whitesmoke;
    line-height: 50px;
    font-size: 30px;
    transition: .2s;
}

.div-social-bar ul:hover a{
filter: blur(2px);
}

.div-social-bar ul a:hover{
    transform: translateY(-2px) scale(1.05);
    filter: none;
}

.div-social-bar ul li .icon-whatsapp:hover{
    background: var(--Whatsapp);
}

.div-social-bar ul li .icon-facebook:hover{
    background: var(--facebook);
}

.div-social-bar ul li .icon-instagram:hover{
    background: var(--instagram);
}

.div-social-bar ul li .icon-twitter:hover{
    background: var(--twitter);
}